body {
    font-family: 'Aptos', sans-serif;
}
.container {
    display: flex;
    background-color: #552439;
    color: #EAD075;
    justify-content: center;
    font-size: 200%;
}

.logo {
   width: 10%;
   margin: 1.5% 1.5%;
}

.navBar {
    background-color: black;
    display: flex;
    font-size: 170%;
    justify-content: center;
    top: 0;
    position:sticky;
    z-index: 20;
   
}

.navBar a:hover{
    background-color: #EAD075;
    color: black;
    padding: 1% 1%;
    margin: 1% 2.75%; 
}

.navBar a{
    text-decoration: none;
    color: #EAD075;
    margin: 2% 3.75%;
}

.thumbnails {
    background-color: black;
    padding: 0% 8% 10% 8% ;
    display: grid;
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr;
      grid-template-columns: [col1] 1fr [co2] 1fr [col3] 1fr; 
  grid-row-gap: 1%; 
  grid-column-gap: 10px;
}

.thumbnails img {
 width: 100%;
 cursor: pointer;
}
.thumbnails .item{
    position: relative;
}
.overlay{
    position: absolute;
    top:2%;
    left: 15%;
}
footer {
    display: flex;
    background-color: #552439;
    color: #EAD075;
    padding: 1.5% 25%;
    font-size: 120%;
    position: fixed;
    bottom: 0;
    right: 0.55%;
    left: 0.55%; 
}

.copyright {
    margin-right: 2%;
}

.socialMedia {
    display: flex;
}
.socialMedia a{
    text-decoration: none;
    color: #EAD075;
    margin-left: 20%;
}

.caption {
    color: #EAD075;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    white-space: nowrap;
}

.item img:hover  {
    opacity: 0.5;
    cursor: pointer;
}
.item:hover .caption{
    opacity: 1;
    cursor: pointer; 
}
h5 {
    font-size: 140%;
    margin-bottom: 2%;
}

.caption p{
    margin-bottom: -5%;
}

.overlay {
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family: 'Monotype corsiva';
}


